<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="chummer-media-package-plane" value=".tmp/package-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="chummer-media-package-plane">
      <package pattern="Chummer.Hub.Registry.Contracts" />
    </packageSource>
  </packageSourceMapping>
</configuration>
